.sib {

    display: block;
    position: relative;

    button {

        background-color: white;

        .img {
            margin-right: .5em;
        }

        .lht {
            position: relative;
            top: 2px;
        }
    }
}   