.header {
    background-color: white;
    border-bottom: 0;
    h1 {
        color: black;
    }
}

.card-footer {
    background-color: white;
    border-top: none !important;
}


.reg {
    position: relative;
    top: 10em;
}