.container-fluid {
    

    .row {
        .card {
            background-color: rgb(219, 216, 216);
            
            .card-header {
                .container {
                    .bg {
                        background-color: rgb(86, 86, 235);

                        .i-color {
                            color: white;
                        }
                    }
                    .bg-red {
                        background-color: rgb(209, 49, 49);
                        .i-color {
                            color: white;
                        }
                    }
                }
            }

            .card-body {
                center {
                    .bar {
                        width: 100%;
                        height: 6px;
                        background-color: rgb(171, 171, 191);
                        border-radius: 10px;
                        margin: 5px;
                    }
                }

                .card-footer {

                    .btn-bd-primary {
                        background-color: rgb(86, 86, 235);
                    }                  
                }
            }
        }
    }
    
}