
.navbar {
    background-color: rgb(219, 216, 216);
    border: solid gray;
    border-radius: 10px;
}

.navbar > button {
    background-color: rgb(86, 86, 235);
}

.btn-bd-primary {
    --bs-btn-color: var(--bs-white);
}

.text-color {
    color: rgb(86, 86, 235);
}

.sib {

    display: block;
    position: relative;
    top: 20em;

    .img {
        margin-right: .5em;
    }

    .lht {
        position: relative;
        top: 2px;
    }
}

.cd {
    width: 30rem;
    max-height: 100%;
    background-color: rgb(219, 216, 216);
    margin-top: 20em;

    .bar {
        width: 100%;
        height: 6px;
        background-color: rgb(171, 171, 191);
        border-radius: 10px;
        margin: 5px;
    }

    
}
